{% extends 'base.html' %}

{% block content %}

<link rel="stylesheet" type="text/css" href="../static/profile.css" type="text/css">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
	<div class="row">
		<div>

            <div class="card hovercard">
                <div class="cardheader">

                </div>
                <div class="avatar">
                    <img alt="" src="https://at-cdn-s01.audiotool.com/2016/04/15/users/raper/avatar256x256-42ed4adfa1f447d28310b3ec294428f3.jpg">
                </div>
                <div class="info">
                    <div class="title">
                        <a target="_blank" href=""> {{ user.display_name if none else user.id }} </a>
                    </div>
                    <div class="desc">Email: {{ user.email }}</div>
                    <div class="desc">Country: {{ user.country }}</div>
                    <div class="desc">Followers: {{ user.followers }}</div>
                    <div class="desc">Type: {{ user.type }}</div>
                </div>
            </div>

        </div>

	</div>
</div>

{% endblock content %}